{
  "host": "hostname.com",
  "basePath": "/rest/admin/v2",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "calculation-code-descriptions"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/calculation-code-descriptions": {
      "get": {
        "tags": [
          "calculation-code-descriptions"
        ],
        "description": "Get a collection of calculation code descriptions.",
        "operationId": "getCalculationCodeDescriptions",
        "parameters": [
          {
            "name": "calculationCodeId",
            "in": "query",
            "description": "The calculation code ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "languageId",
            "in": "query",
            "description": "The language ID for which this information applies.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "description",
            "in": "query",
            "description": "A short description of the calculation code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "longDescription",
            "in": "query",
            "description": "A detailed description of the calculation code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of calculation code descriptions.",
            "schema": {
              "$ref": "#/definitions/CalculationCodeDescriptionCollection"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "post": {
        "tags": [
          "calculation-code-descriptions"
        ],
        "description": "Create a calculation code description.",
        "operationId": "createCalculationCodeDescription",
        "parameters": [
          {
            "in": "body",
            "name": "CalculationCodeDescription",
            "description": "The calculation code description.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalculationCodeDescription"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      }
    },
    "/calculation-code-descriptions/calculationCodeId:{calculationCodeId},languageId:{languageId}": {
      "get": {
        "tags": [
          "calculation-code-descriptions"
        ],
        "description": "Get a calculation code description.",
        "operationId": "getCalculationCodeDescriptionById",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The calculation code description.",
            "schema": {
              "$ref": "#/definitions/CalculationCodeDescription"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "calculation-code-descriptions"
        ],
        "description": "Delete a calculation code description.",
        "operationId": "deleteCalculationCodeDescriptionById",
        "parameters": [],
        "responses": {
          "204": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "calculation-code-descriptions"
        ],
        "description": "Update a calculation code description.",
        "operationId": "updateCalculationCodeDescriptionById",
        "parameters": [
          {
            "in": "body",
            "name": "CalculationCodeDescription",
            "description": "The calculation code description.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CalculationCodeDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "calculationCodeId",
          "in": "path",
          "description": "The calculation code ID.",
          "required": true,
          "type": "integer",
          "format": "int32"
        },
        {
          "name": "languageId",
          "in": "path",
          "description": "The language ID for which this information applies.",
          "required": true,
          "type": "integer",
          "format": "int32"
        }
      ]
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error message code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "messageKey": {
          "type": "string",
          "description": "The error message key."
        },
        "messageArguments": {
          "type": "array",
          "description": "The arguments used to construct the error message.",
          "items": {
            "type": "object"
          }
        },
        "correlationId": {
          "type": "string",
          "description": "The unique identifier for the request."
        },
        "locale": {
          "type": "string",
          "description": "The locale of the error message."
        }
      },
      "description": "The error message item model."
    },
    "ErrorResponseContainer": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The request identifier."
        },
        "errors": {
          "type": "array",
          "description": "The errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "description": "The error message model."
    },
    "CalculationCodeDescription": {
      "type": "object",
      "properties": {
        "calculationCodeId": {
          "type": "integer",
          "format": "int32",
          "description": "The calculation code ID."
        },
        "languageId": {
          "type": "integer",
          "format": "int32",
          "description": "The language ID for which this information applies."
        },
        "description": {
          "type": "string",
          "description": "A short description of the calculation code."
        },
        "longDescription": {
          "type": "string",
          "description": "A detailed description of the calculation code."
        }
      },
      "description": "The calculation code description."
    },
    "CalculationCodeDescriptionCollection": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of items."
        },
        "items": {
          "type": "array",
          "description": "The items.",
          "items": {
            "$ref": "#/definitions/CalculationCodeDescription"
          }
        }
      },
      "description": "A collection of calculation code descriptions."
    }
  }
}