{
    "host": "hostname.com",
    "basePath": "/rest/admin/v2",
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "version": "2.0",
        "title": "jurisdiction-groups"
    },
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/jurisdiction-groups": {
            "get": {
                "tags": [
                    "jurisdiction-groups"
                ],
                "description": "Get a collection of jurisdiction groups.",
                "operationId": "getJurisdictionGroups",
                "parameters": [
                    {
                        "name": "searchString",
                        "description": "Limits search results to only include jurisdiction groups with a code that matches the value of this parameter. Searches are case-insensitive.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The unique ID for the jurisdiction group.",
                        "required": false,
                        "type": "array",
                        "collectionFormat": "multi",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "A code which, together with its storeId and subclass, uniquely identifies this jurisdiction group.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "storeId",
                        "in": "query",
                        "description": "The reference number of the store this jurisdiction associated with.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "subclass",
                        "in": "query",
                        "description": "Indicates the jurisdiction group subclass as follows: 1 = ShippingJurisdictionGroup. 2 = TaxJurisdictionGroup.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "A brief description of the jurisdiction group, suitable for display by a user interface that manages jurisdiction groups.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "markForDelete",
                        "in": "query",
                        "description": "Indicates if this jurisdiction group has been marked for deletion: 0 = No. 1 = Yes.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of records to return.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A collection of jurisdiction groups.",
                        "schema": {
                            "$ref": "#/definitions/JurisdictionGroupCollection"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "jurisdiction-groups"
                ],
                "description": "Create a jurisdiction group.",
                "operationId": "createJurisdictionGroup",
                "parameters": [
                    {
                        "in": "body",
                        "name": "JurisdictionGroup",
                        "description": "Provides RESTful services to manage jurisdiction groups. Jurisdiction groups are used for grouping of Jurisdictions.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/JurisdictionGroup"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            }
        },
        "/jurisdiction-groups/{id}": {
            "get": {
                "tags": [
                    "jurisdiction-groups"
                ],
                "description": "Get a jurisdiction group.",
                "operationId": "getJurisdictionGroupById",
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Provides RESTful services to manage jurisdiction groups. Jurisdiction groups are used for grouping of Jurisdictions.",
                        "schema": {
                            "$ref": "#/definitions/JurisdictionGroup"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "jurisdiction-groups"
                ],
                "description": "Delete a jurisdiction group.",
                "operationId": "deleteJurisdictionGroupById",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "jurisdiction-groups"
                ],
                "description": "Update a jurisdiction group.",
                "operationId": "updateJurisdictionGroupById",
                "parameters": [
                    {
                        "in": "body",
                        "name": "JurisdictionGroup",
                        "description": "Provides RESTful services to manage jurisdiction groups. Jurisdiction groups are used for grouping of Jurisdictions.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/JurisdictionGroup"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "The unique ID for the jurisdiction group.",
                    "required": true,
                    "type": "integer",
                    "format": "int32"
                }
            ]
        },
        "/jurisdiction-groups/{id}/jurisdiction-group-relationships": {
            "get": {
                "tags": [
                    "jurisdiction-groups"
                ],
                "description": "Finds jurisdiction group relationships of a jurisdiction group.",
                "operationId": "getJurisdictionGroupRelationshipsOfJurisdictionGroup",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of records to return.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A collection of jurisdiction group to jurisdiction relationship.",
                        "schema": {
                            "$ref": "#/definitions/JurisdictionGroupRelationshipCollection"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "The unique ID for the jurisdiction group.",
                    "required": true,
                    "type": "integer",
                    "format": "int32"
                }
            ]
        }
    },
    "definitions": {
        "Link": {
            "type": "object",
            "properties": {
                "href": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the link."
                }
            },
            "description": "Links to related resources."
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The error message code."
                },
                "message": {
                    "type": "string",
                    "description": "The error message."
                },
                "messageKey": {
                    "type": "string",
                    "description": "The error message key."
                },
                "messageArguments": {
                    "type": "array",
                    "description": "The arguments used to construct the error message.",
                    "items": {
                        "type": "object"
                    }
                },
                "correlationId": {
                    "type": "string",
                    "description": "The unique identifier for the request."
                },
                "locale": {
                    "type": "string",
                    "description": "The locale of the error message."
                }
            },
            "description": "The error message item model."
        },
        "ErrorResponseContainer": {
            "type": "object",
            "properties": {
                "requestId": {
                    "type": "string",
                    "description": "The request identifier."
                },
                "errors": {
                    "type": "array",
                    "description": "The errors.",
                    "items": {
                        "$ref": "#/definitions/Error"
                    }
                }
            },
            "description": "The error message model."
        },
        "JurisdictionGroup": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID for the jurisdiction group."
                },
                "code": {
                    "type": "string",
                    "description": "A code which, together with its storeId and subclass, uniquely identifies this jurisdiction group."
                },
                "storeId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The reference number of the store this jurisdiction associated with."
                },
                "subclass": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Indicates the jurisdiction group subclass as follows: 1 = ShippingJurisdictionGroup. 2 = TaxJurisdictionGroup."
                },
                "description": {
                    "type": "string",
                    "description": "A brief description of the jurisdiction group, suitable for display by a user interface that manages jurisdiction groups."
                },
                "markForDelete": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Indicates if this jurisdiction group has been marked for deletion: 0 = No. 1 = Yes."
                },
                "links": {
                    "type": "object",
                    "description": "Links to related resources.",
                    "properties": {
                        "groups": {
                            "type": "object",
                            "description": "The jurisdiction group relationships of a jurisdiction group.",
                            "properties": {
                                "href": {
                                    "type": "string",
                                    "description": "The URL of the link."
                                }
                            }
                        }
                    }
                }
            },
            "description": "Provides RESTful services to manage jurisdiction groups. Jurisdiction groups are used for grouping of Jurisdictions."
        },
        "JurisdictionGroupCollection": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The total number of items."
                },
                "items": {
                    "type": "array",
                    "description": "The items.",
                    "items": {
                        "$ref": "#/definitions/JurisdictionGroup"
                    }
                }
            },
            "description": "A collection of jurisdiction groups."
        },
        "JurisdictionGroupRelationship": {
            "type": "object",
            "properties": {
                "jurisdictionId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID for the jurisdiction."
                },
                "jurisdictionGroupId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID for the jurisdiction group."
                },
                "subclass": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The subclass of the jurisdiction and of the jurisdiction group should match as follows: 1 = ShippingJurisdiction[Group]. 2 = TaxJurisdiction[Group]."
                },
                "links": {
                    "type": "object",
                    "description": "Links to related resources.",
                    "properties": {
                        "group": {
                            "type": "object",
                            "description": "The jurisdiction group.",
                            "properties": {
                                "href": {
                                    "type": "string",
                                    "description": "The URL of the link."
                                }
                            }
                        },
                        "jurisdiction": {
                            "type": "object",
                            "description": "The jurisdiction.",
                            "properties": {
                                "href": {
                                    "type": "string",
                                    "description": "The URL of the link."
                                }
                            }
                        }
                    }
                }
            },
            "description": "Relate jurisdiction groups to the jurisdictions that are inside them."
        },
        "JurisdictionGroupRelationshipCollection": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The total number of items."
                },
                "items": {
                    "type": "array",
                    "description": "The items.",
                    "items": {
                        "$ref": "#/definitions/JurisdictionGroupRelationship"
                    }
                }
            },
            "description": "A collection of jurisdiction group to jurisdiction relationship."
        }
    }
}