{
    "x-aes-documentation": {
        "gettingstarted": [
            {
                "content": "Some REST services require authentication. Digital Commerce REST services are authenticated on secure and unsecured channels. This authentication can include the use of the WCToken and WCTrustedToken. To use REST services that require authentication, you must first get authentication data by using a supported identity services.\n\nAfter you obtain the authentication data, you must pass either the WCToken or WCTustedToken parameters, or both, within the HTTP header for every request that requires authentication. If a request is sent over HTTP, pass the WCToken parameter in the HTTP header. Do not pass the WCTrustedToken in HTTP requests, as the parameter value might display. Send both the WCToken and the WCTrustedToken parameters when the request is being sent over HTTPS.\n\nThe Digital Commerce REST APIs can also use session cookies that are created by the Digital Commerce store runtime for authentication. These cookies allow you to mix requests to the Digital Commerce REST APIs and the Digital Commerce store runtime within the same user session.\n\n See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestauth.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestauth.html </a> ",
                "codeSnippets": [],
                "name": "Authentication"
            },
            {
                "content": "Digital Commerce REST services support JSON and XML formats for input and output data by default. The default format is JSON. When an XML String is sent to a REST service, you must set Content-Type HTTP header to be \"application/xml\". The REST service converts the XML input data to the JSON format that is accepted by REST services. Therefore, your input XML format must follow a certain structure so that it can be transformed to the JSON object that is accepted by REST services. See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/refs/rwvrestxmlformat.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/refs/rwvrestxmlformat.html </a> ",
                "codeSnippets": [],
                "name": "Response formats"
            },
            {
                "content": "Preview tokens are encrypted strings that encapsulates a set of preview options and restrictions on when and where the token can be used. Any user who is authorized to access your server and has a preview token, can complete preview actions in the same store for which that token is generated. See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.developer.doc/concepts/cpvpreviewtoken.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.developer.doc/concepts/cpvpreviewtoken.html </a>",
                "codeSnippets": [],
                "name": "Preview tokens"
            },
            {
                "content": "Some Digital Commerce REST services require a request to be sent over HTTPS. Learn more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestsecurity.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestsecurity.html </a> ",
                "codeSnippets": [],
                "name": "Secure Sockets Layer"
            }
        ]
    },
    "host": "hostname.com",
    "basePath": "/wcs/resources",
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "version": "IBM Digital Commerce Services Version 17.4",
        "description": "These services provide APIs related to marketing in either a B2B or B2C store. Use these classes to: <ul><li>Get e-Marketing Spot data</li><li>Get customer segment data</li><li>Trigger marketing based on certain types of events</li><li>Get user marketing behavior data</li></ul>",
        "title": "IBM Digital Commerce Services - Marketing"
    },
    "tags": [
        {
            "name": "Spot",
            "description": "This class provides RESTful services to retrieve spot details."
        },
        {
            "name": "Event",
            "description": "This class provides RESTful services to trigger marketing based on certain types of events. For example, CategoryDisplay, ProductDisplay, or Search."
        },
        {
            "name": "Segment",
            "description": "This class provides RESTful services to retrieve the customer segment data"
        },
        {
            "name": "User Behavior",
            "description": "This class provides RESTful services to get and delete user behavior for marketing purposes."
        }
    ],
    "paths": {
        "/store/{storeId}/spot/{spotId}": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/spot-spot"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "recordSetStartNumber": 0,
                                "recordSetComplete": true,
                                "MarketingSpot": [
                                    {
                                        "spotName": "AboutDressDesignerPageMainAd",
                                        "spotId": "10589",
                                        "type": "MARKETING",
                                        "description": "Display the main ad on About Dress Designer page",
                                        "uiDisplayable": 1
                                    }
                                ],
                                "recordSetCount": 1,
                                "resourceId": "https://localhost:443/wcs/resources/store/10001/spot/10589",
                                "resourceName": "spot",
                                "recordSetTotal": 1
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "description": "E-Spot identifier.",
                        "format": "int32",
                        "required": true,
                        "in": "path",
                        "type": "integer",
                        "name": "spotId"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "description": "Page number. Valid values are positive integers starting at 1. Use pageNumber with pageSize.",
                        "format": "int32",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "pageNumber"
                    },
                    {
                        "description": "Page size. Used to limit the amount of data returned by a query. Valid values are integers starting with 1. Use pageSize with pageNumber.",
                        "format": "int32",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "pageSize"
                    }
                ],
                "tags": [
                    "Spot"
                ],
                "description": "Gets an e-Marketing Spot in a store using its unique identifier.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get e-Marketing Spots by unique identifier",
                "operationId": "Spot-findSpotByID"
            }
        },
        "/store/{storeId}/event/click_info": {
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.marketingcenter.events.runtime.ClickMonitorCommand"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Marketing evaluate trigger body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.EventHandler$EventTrigger"
                        }
                    }
                ],
                "tags": [
                    "Event"
                ],
                "description": "Handles click information.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Handle click information",
                "operationId": "Event-handleClickInfo"
            }
        },
        "/store/{storeId}/event/update_marketing_tracking_consent": {
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Marketing evaluate trigger body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.EventHandler$MarketingTrackingConsent"
                        }
                    }
                ],
                "tags": [
                    "Event"
                ],
                "description": "Update the marketing tracking consent for a user for the store.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update the marketing tracking consent for a user for the store.",
                "operationId": "Event-updateMarketingTrackingConsent"
            }
        },        
        "/store/{storeId}/segment/{segmentId}": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/segment-segments"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "recordSetStartNumber": 0,
                                "recordSetComplete": true,
                                "recordSetCount": 1,
                                "resourceId": "https://localhost:443/wcs/resources/store/10001/segment/8000000000000000003",
                                "MemberGroup": [
                                    {
                                        "usage": [
                                            "GeneralPurpose"
                                        ],
                                        "displayName": {
                                            "language": "-1",
                                            "value": "Guest Shoppers"
                                        },
                                        "description": {
                                            "language": "-1",
                                            "value": "Shoppers who have not registered with the store"
                                        },
                                        "id": "8000000000000000003"
                                    }
                                ],
                                "resourceName": "segment",
                                "recordSetTotal": 1
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The segment identifier.",
                        "in": "path",
                        "name": "segmentId"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Segment"
                ],
                "description": "Gets customer segment by segmentId.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get segment by the segment ID",
                "operationId": "getCustomerSegmentById"
            }
        },
        "/store/{storeId}/espot/{name}/type/{type}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/espot-espot"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "E-Spot name.",
                        "in": "path",
                        "name": "name"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "E-Marketing Spot type for example, SEARCH.",
                        "in": "path",
                        "name": "type"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The catalog identifier. If none is specified, the store default catalog is used.",
                        "in": "query",
                        "name": "catalogId"
                    },
                    {
                        "enum": [
                            "JPY",
                            "CNY",
                            "BRL",
                            "EUR",
                            "RON",
                            "RUB",
                            "PLN",
                            "USD",
                            "KRW",
                            "TWD",
                            "CAD",
                            "GBP"
                        ],
                        "name": "currency",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The currency code to use for example, currency=USD. If no currency code is specified, the store default currency is used."
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "E-Spot name.",
                        "in": "query",
                        "name": "name"
                    }
                ],
                "tags": [
                    "Spot"
                ],
                "description": "Gets e-Marketing Spot data.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get e-Marketing Sport data",
                "operationId": "E-spot-findESpotData"
            }
        },
        "/store/{storeId}/spot": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/spot-spot"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "byType",
                            "byTypeAndName"
                        ],
                        "name": "q",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The query name."
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "Type of the e-spot. For instance : qType=MARKETING. Required for search by type.",
                        "in": "query",
                        "name": "qType"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "Name of the e-spot used to find all spots with at least a partial match in the name or description. Required for search by name.",
                        "in": "query",
                        "name": "qName"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The catalog identifier. If none is specified, the store default catalog is used.",
                        "in": "query",
                        "name": "catalogId"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "Page size. Used to limit the amount of data returned by a query. Valid values are integers starting with 1. Use pageSize with pageNumber.",
                        "in": "query",
                        "name": "pageSize"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "Page number. Valid values are positive integers starting at 1. Use pageNumber with pageSize.",
                        "in": "query",
                        "name": "pageNumber"
                    }
                ],
                "tags": [
                    "Spot"
                ],
                "description": "Gets e-Marketing Spots in a store.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get e-Marketing Spots",
                "operationId": "Spot-findSpotsByQuery"
            }
        },
        "/store/{storeId}/event": {
            "post": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Marketing event trigger body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.EventHandler$EventTrigger"
                        }
                    }
                ],
                "tags": [
                    "Event"
                ],
                "description": "Triggers marketing based on certain events.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Trigger marketing by event",
                "operationId": "Event-triggerMarketing"
            }
        },
        "/store/{storeId}/espot/{name}/product/{productId}": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.ESpotDataHandler$ESpotContainer"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "MarketingSpotData": [
                                    {
                                        "nextTimeLimit": "-1",
                                        "eSpotName": "ESpotDataHandlerESpotName",
                                        "marketingSpotIdentifier": "15562",
                                        "behavior": "0"
                                    }
                                ],
                                "resourceId": "http://localhost:80/wcs/resources/store/10001/espot/ESpotDataHandlerESpotName/product/12973?numberContentToDisplay=1&DM_ReqCmd=ProductDisplay2",
                                "resourceName": "espot"
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "E-Spot name.",
                        "in": "path",
                        "name": "name"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The product identifier.",
                        "in": "path",
                        "name": "productId"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The catalog identifier. If none is specified, the store default catalog is used.",
                        "in": "query",
                        "name": "catalogId"
                    },
                    {
                        "enum": [
                            "ARS",
                            "ATS",
                            "AUD",
                            "BEF",
                            "BRL",
                            "CAD",
                            "CHF",
                            "CNY",
                            "DEM",
                            "DKK",
                            "EGP",
                            "ESP",
                            "EUR",
                            "FIM",
                            "FRF",
                            "GBP",
                            "HKD",
                            "IEP",
                            "ITL",
                            "JPY",
                            "KRW",
                            "LUF",
                            "NLG",
                            "NOK",
                            "PLN",
                            "PTE",
                            "ROL",
                            "RON",
                            "RUB",
                            "SEK",
                            "SGD",
                            "TWD",
                            "USD",
                            "ZAR"
                        ],
                        "name": "currency",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The currency code to use for example, currency=USD. If no currency code is specified, the store default currency is used."
                    }
                ],
                "tags": [
                    "Spot"
                ],
                "description": "\"Deprecated: Gets an e-Marketing Spot for a specific product. Alternatively, this can be implemented using the findByName method with the following URL: store/{storeId}/espot/{name}?productId=&DM_ReqCmd=ProductDisplay.\"",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get e-Marketing Sport for product",
                "operationId": "E-spot-findByNameWithProduct"
            }
        },
        "/store/{storeId}/event/behavior_rules": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json.",
                        "in": "query",
                        "name": "responseFormat"
                    }
                ],
                "tags": [
                    "Event"
                ],
                "description": "Gets user behavior rules.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get user behavior rules",
                "operationId": "Event-getBehaviorRules"
            }
        },
        "/store/{storeId}/espot/{name}": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.ESpotDataHandler$ESpotContainer"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "MarketingSpotData": [
                                    {
                                        "nextTimeLimit": "-1",
                                        "marketingSpotIdentifier": "10562",
                                        "baseMarketingSpotActivityData": [
                                            {
                                                "baseMarketingSpotActivityID": "10065",
                                                "baseMarketingSpotDataType": "MarketingContent",
                                                "MarketingContentDescription": [
                                                    {}
                                                ],
                                                "contentId": "10065",
                                                "activityPriority": "1",
                                                "contentFormatName": "Text",
                                                "activityIdentifierID": "0",
                                                "marketingContentDescription": [
                                                    {
                                                        "marketingText": "<link rel=\"stylesheet\" href=\"/wcsstore/Aurora/rwdWebAssets/homePageEspot_Right/styles.css\" /> <div class=\"col4\" id=\"homePageEspot_Right\" role=\"region\" aria-label=\"home page Espot kids\">    <div class=\"homeESpotContainer\" id=\"homePageEspot_Right_Slot\">       <div class=\"textContainer\">          <div class=\"title\">                       Kids' Stuff                      </div>          <div class=\"bodyText\">             Summer style is all about fun prints, bright colors, comfort, and durability. Stock up on our easy-to-wear and affordable fashions for kids. Spend $100* or more, and earn a $25 gift certificate.                                    <div class=\"finePrint\">                         *Before taxes. Gift certificates are redeemable on your next visit.                       </div>          </div>          <div class=\"button\"><a alt=\"\" role=\"link\" aria-label=\"Shop now girls category\" href=\"http://localhost/webapp/wcs/stores/servlet/en/aurora/apparel/girls\">shop now</a></div>       </div>       <div class=\"imageContainer\">                     <img alt=\"\" id=\"kids1\" src=\"/wcsstore/Aurora/rwdWebAssets/homePageEspot_Right/kids1.jpg\">                     <img alt=\"\" id=\"kids2\" src=\"/wcsstore/Aurora/rwdWebAssets/homePageEspot_Right/kids2.png\">                   </div>    </div> </div>",
                                                        "language": "-1"
                                                    }
                                                ],
                                                "contentClickAction": "None",
                                                "contentName": "HomeKidsApparelAdContent",
                                                "baseMarketingSpotActivityName": "HomeKidsApparelAdContent",
                                                "contentFormatId": "2",
                                                "properties": [
                                                    {
                                                        "baseMarketingKey": "mktActivityDescription"
                                                    },
                                                    {
                                                        "baseMarketingKey": "displaySequence",
                                                        "baseMarketingValue": "1.0"
                                                    }
                                                ],
                                                "contentStoreId": "10001"
                                            }
                                        ],
                                        "defaultContentDisplaySequence": [
                                            {
                                                "displaySequence": "1.0",
                                                "resultId": "10065",
                                                "resultFormat": "MarketingContent"
                                            }
                                        ],
                                        "eSpotName": "HomeBottomRight_Content",
                                        "behavior": "0"
                                    }
                                ],
                                "resourceId": "http://localhost:80/wcs/resources/store/10001/espot/HomeBottomRight_Content?DM_marketingSpotBehavior=&deleteIfEmpty=*&orderId=14029&toOrderId=.&page=&DM_ReqCmd=TopCategoriesDisplay&calculationUsageId=-1&DM_SubstitutionValue1=Aurora&catalogId=10052&createIfEmpty=1&DM_SubstitutionValue2=http%3A%2F%2Flocalhost%2Fwebapp%2Fwcs%2Fstores%2Fservlet%2Fen%2Faurora&DM_SubstitutionValue3=en_US&DM_SubstitutionValue4=&DM_SubstitutionValue5=&DM_SubstitutionValue6=_8_-2000_1469&storeId=10001&DM_EmsName=HomeBottomRight_Content&continue=1&langId=-1&DM_imagePath=%2Fwcsstore%2FAurora%2F&deleteCartCookie=true&pageGroup=Content&updatePrices=0&DM_SubstitutionName1=%5BstoreName%5D&DM_SubstitutionName2=%5BfullPathHomeURL%5D&DM_SubstitutionName3=%5Blanglocale%5D&DM_SubstitutionName4=%5BproductTotalCount%5D&DM_SubstitutionName5=%5BcontentTotalCount%5D&DM_SubstitutionName6=%5BwidgetSuffix%5D&pageName=HomePage&DM_contextPath=%2Fwebapp%2Fwcs%2Fstores%2Fservlet&fromOrderId=*&responseFormat=json",
                                "resourceName": "espot"
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "E-Spot name.",
                        "in": "path",
                        "name": "name"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The catalog identifier. If none is specified, the store default catalog is used.",
                        "in": "query",
                        "name": "catalogId"
                    },
                    {
                        "enum": [
                            "JPY",
                            "CNY",
                            "BRL",
                            "EUR",
                            "RON",
                            "RUB",
                            "PLN",
                            "USD",
                            "KRW",
                            "TWD",
                            "CAD",
                            "GBP"
                        ],
                        "name": "currency",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The currency code to use for example, currency=USD. If no currency code is specified, the store default currency is used."
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "E-Spot name.",
                        "in": "query",
                        "name": "name"
                    }
                ],
                "tags": [
                    "Spot"
                ],
                "description": "Gets an e-Marketing Spot by name.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get e-Marketing Spot by name",
                "operationId": "E-spot-findByName"
            }
        },
        "/store/{storeId}/segment/{segmentId}/isMember": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.SegmentHandler$SegmentMemberCheck"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "isInCustomeSegment": true
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "Segment identifier.",
                        "in": "path",
                        "name": "segmentId"
                    },
                    {
                        "description": "User unique identifier.",
                        "format": "int64",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "userId"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The user's personalization id. Note : this parameter is ignored if the userId parameter is specified.",
                        "in": "query",
                        "name": "personalizationId"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Segment"
                ],
                "description": "Checks if the customer identified by userId or personalizationId is part of given customer segment.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Check segment membership",
                "operationId": "checkIsInSegmentByUserId"
            }
        },
        "/store/{storeId}/espot": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.ESpotDataHandler$SearchTermsContainer"
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json.",
                        "in": "query",
                        "name": "responseFormat"
                    },
                    {
                        "enum": [
                            "allSearchTerms"
                        ],
                        "name": "q",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The query name."
                    }
                ],
                "tags": [
                    "Spot"
                ],
                "description": "Gets all search terms that have search rules.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get search terms with search rules",
                "operationId": "E-spot-findAllSearchTerms"
            }
        },
        "/store/{storeId}/event/evaluate_triggers": {
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Marketing evaluate trigger body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.EventHandler$EventTrigger"
                        }
                    }
                ],
                "tags": [
                    "Event"
                ],
                "description": "Evaluates potential triggers passed from the store.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Evaluate triggers",
                "operationId": "Event-evaluateTriggers"
            }
        },
        "/store/{storeId}/segment": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/segment-segments"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "byUserId",
                            "byPersonalizationId",
                            "byName",
                            "all"
                        ],
                        "name": "q",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The query name."
                    },
                    {
                        "description": "The user identifier. Required if the query is set to byUserId.",
                        "format": "int64",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "qUserId"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The user's personalization identifier. Required if the query is set to byPersonalizationId.",
                        "in": "query",
                        "name": "qPersonalizationId"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The user's name. Required if the query is set to byName.",
                        "in": "query",
                        "name": "qName"
                    },
                    {
                        "description": "Page number. Valid values are positive integers starting at 1. Use pageNumber with pageSize.",
                        "format": "int32",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "pageNumber"
                    },
                    {
                        "description": "Page size. Used to limit the amount of data returned by a query. Valid values are integers starting with 1. Use pageSize with pageNumber.",
                        "format": "int32",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "pageSize"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Segment"
                ],
                "description": "Gets all customer segments by a specified storeId or get segment by userId or personalizationId or byName.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get segments by user or store ID",
                "operationId": "getCustomerSegments"
            }
        },
        "/store/{storeId}/user_behavior/{userId}": {
            "delete": {
                "operationId": "deleteUserBehaviorData",
                "summary": "Delete the marketing tracking data for a user for the store.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "tags": [
                    "User Behavior"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "0",
                            "10001",
                            "10501",
                            "11001",
                            "1"
                        ]
                    },
                    {
                        "in": "path",
                        "description": "The user ID",
                        "name": "userId",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.UserBehaviorHandler$DeleteUserBehaviorResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request. Some of the inputs provided to the request aren't valid."
                    },
                    "401": {
                        "description": "Not authenticated. The user session isn't valid."
                    },
                    "403": {
                        "description": "The user isn't authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource couldn't be found."
                    },
                    "500": {
                        "description": "Internal server error. Additional details will be contained on the server logs."
                    }
                }
            }
        },
        "/store/{storeId}/user_behavior": {
            "get": {
                "operationId": "findUserBehaviors",
                "summary": "Get the marketing tracking data for a user for the store.",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "tags": [
                    "User Behavior"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "0",
                            "10001",
                            "10501",
                            "11001",
                            "1"
                        ]
                    },
                    {
                        "in": "query",
                        "description": "The user ID",
                        "name": "userId",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.marketing.beans.UserBehaviorListDataBean_IBM_Admin_Summary"
                        }
                    },
                    "400": {
                        "description": "Bad request. Some of the inputs provided to the request aren't valid."
                    },
                    "401": {
                        "description": "Not authenticated. The user session isn't valid."
                    },
                    "403": {
                        "description": "The user isn't authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource couldn't be found."
                    },
                    "500": {
                        "description": "Internal server error. Additional details will be contained on the server logs."
                    }
                }
            }
        }
    },
    "definitions": {
        "espot-ActivityIdentifier": {
            "properties": {
                "activityExternalIdentifier": {
                    "$ref": "#/definitions/espot-ActivityExternalIdentifier"
                },
                "activityIdentifierID": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogGroup.taxonomyAttribute": {
            "properties": {
                "attribute": {
                    "items": {
                        "$ref": "#/definitions/espot-CatalogGroup.taxonomyAttribute.attribute"
                    },
                    "type": "array"
                }
            }
        },
        "com.ibm.commerce.catalog.facade.datatypes.AssociationType.catalogEntryReference.catalogEntryIdentifier.externalIdentifier": {
            "required": [
                "partNumber"
            ],
            "properties": {
                "ownerID": {
                    "type": "string"
                },
                "partNumber": {
                    "type": "string"
                },
                "storeIdentifier": {
                    "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.AssociationType.catalogEntryReference.catalogEntryIdentifier.externalIdentifier.storeIdentifier"
                }
            }
        },
        "com.ibm.commerce.catalog.facade.datatypes.AssociationType.catalogEntryReference.catalogEntryIdentifier.externalIdentifier.storeIdentifier.externalIdentifier": {
            "properties": {
                "ownerID": {
                    "type": "string"
                },
                "nameIdentifier": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.SEOURLType.siteMapInfo.userData.userDataField": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.MonetaryAmountType": {
            "properties": {
                "currency": {
                    "type": "string"
                },
                "value": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.AttributeGroupIdentifierType.externalIdentifier.attributeDictionaryIdentifier.externalIdentifier": {
            "required": [
                "identifier"
            ],
            "properties": {
                "storeIdentifier": {
                    "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.AttributeGroupIdentifierType.externalIdentifier.attributeDictionaryIdentifier.externalIdentifier.storeIdentifier"
                },
                "identifier": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.AttributeGroupIdentifierType.externalIdentifier.attributeDictionaryIdentifier.externalIdentifier.storeIdentifier.externalIdentifier": {
            "properties": {
                "ownerID": {
                    "type": "string"
                },
                "nameIdentifier": {
                    "type": "string"
                }
            }
        },
        "espot-TestElement": {
            "required": [
                "experimentResultTestElementId"
            ],
            "properties": {
                "experimentResultTestElementId": {
                    "type": "string"
                },
                "experimentResultTestElementName": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogGroup.attributes": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogGroup.sEOProperties": {
            "properties": {
                "resolved": {
                    "type": "boolean"
                },
                "userData": {
                    "$ref": "#/definitions/espot-CatalogGroup.sEOProperties.userData"
                },
                "language": {
                    "type": "string"
                },
                "metaKeyword": {
                    "type": "string"
                },
                "fullImageAltDescription": {
                    "type": "string"
                },
                "parentStoreIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.sEOProperties.parentStoreIdentifier"
                },
                "pageGroup": {
                    "type": "string"
                },
                "objectIdentifier": {
                    "type": "string"
                },
                "sEOPageDefID": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "metaDescription": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogGroup.sEOProperties.userData.userDataField": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogGroup.association.catalogGroupReference.catalogGroupIdentifier": {
            "properties": {
                "uniqueID": {
                    "type": "string"
                },
                "externalIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.association.catalogGroupReference.catalogGroupIdentifier.externalIdentifier"
                }
            }
        },
        "espot-CatalogGroup.rule.nVP": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.catalog.facade.datatypes.AssociationType.catalogGroupReference.catalogGroupIdentifier.externalIdentifier": {
            "required": [
                "groupIdentifier"
            ],
            "properties": {
                "ownerID": {
                    "type": "string"
                },
                "storeIdentifier": {
                    "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.AssociationType.catalogGroupReference.catalogGroupIdentifier.externalIdentifier.storeIdentifier"
                },
                "groupIdentifier": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.AttachmentReferenceType.attachmentAsset.userData": {
            "properties": {
                "userDataField": {
                    "items": {
                        "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.AttachmentReferenceType.attachmentAsset.userData.userDataField"
                    },
                    "type": "array"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.SEOURLType.userData.userDataField": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.SEOURLType.userData": {
            "properties": {
                "userDataField": {
                    "items": {
                        "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.SEOURLType.userData.userDataField"
                    },
                    "type": "array"
                }
            }
        },
        "espot-CatalogGroup.parentCatalogGroupIdentifier.externalIdentifier": {
            "required": [
                "groupIdentifier"
            ],
            "properties": {
                "ownerID": {
                    "type": "string"
                },
                "storeIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.parentCatalogGroupIdentifier.externalIdentifier.storeIdentifier"
                },
                "groupIdentifier": {
                    "type": "string"
                }
            }
        },
        "espot-Attachment.AttachmentReferenceDescription.userDataField": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.CatalogGroupIdentifierType.externalIdentifier.storeIdentifier": {
            "properties": {
                "uniqueID": {
                    "type": "string"
                },
                "externalIdentifier": {
                    "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.CatalogGroupIdentifierType.externalIdentifier.storeIdentifier.externalIdentifier"
                }
            }
        },
        "espot-MarketingContent": {
            "properties": {
                "contentUrl": {
                    "type": "string"
                },
                "marketingContentIdentifier": {
                    "$ref": "#/definitions/espot-MarketingContentIdentifier"
                },
                "contentFormatName": {
                    "type": "string"
                },
                "marketingContentImageMap": {
                    "items": {
                        "$ref": "#/definitions/espot-MarketingContentImageMap"
                    },
                    "type": "array"
                },
                "MarketingContentDescription": {
                    "items": {
                        "$ref": "#/definitions/espot-MarketingContent.MarketingContentDescription"
                    },
                    "type": "array"
                },
                "marketingContentDescription": {
                    "items": {
                        "$ref": "#/definitions/espot-MarketingContentDescription"
                    },
                    "type": "array"
                },
                "contentInputOption": {
                    "enum": [
                        "Area",
                        "Source"
                    ],
                    "type": "string"
                },
                "contentMimeType": {
                    "type": "string"
                },
                "attachment": {
                    "$ref": "#/definitions/espot-Attachment"
                },
                "contentFormatId": {
                    "type": "string"
                },
                "userDataField": {
                    "items": {
                        "$ref": "#/definitions/espot-MarketingContent.userDataField"
                    },
                    "type": "array"
                },
                "contentClickAction": {
                    "enum": [
                        "None",
                        "Single",
                        "Multiple"
                    ],
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.OfferPriceType.userData.userDataField": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.catalog.facade.datatypes.AttributeAllowedValueType.extendedValue": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogGroup.navigationRelationship.catalogEntryReference.catalogEntryIdentifier": {
            "properties": {
                "uniqueID": {
                    "type": "string"
                },
                "externalIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.navigationRelationship.catalogEntryReference.catalogEntryIdentifier.externalIdentifier"
                }
            }
        },
        "com.ibm.commerce.rest.marketing.handler.ESpotDataHandler$ESpotContainer$MarketingSpotDataContainer$MarketingSpotDataTitleContainer$MarketingContentImageMapContainer": {
            "description": "Structure containing image map definition for marketing content.",
            "properties": {
                "source": {
                    "type": "string",
                    "description": "HTML definition of the image map. This element is used when users want to define the whole image map directly using HTML."
                },
                "name": {
                    "type": "string",
                    "description": "Name of the image map."
                },
                "area": {
                    "items": {
                        "$ref": "#/definitions/com.ibm.commerce.rest.marketing.handler.ESpotDataHandler$ESpotContainer$MarketingSpotDataContainer$MarketingSpotDataTitleContainer$MarketingContentImageMapContainer$AreaTypeContainer"
                    },
                    "type": "array",
                    "description": "Clickable area in the image map."
                }
            }
        },
        "espot-CatalogGroup.attachmentReference.attachmentAsset.storeIdentifier": {
            "properties": {
                "uniqueID": {
                    "type": "string"
                },
                "externalIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.attachmentReference.attachmentAsset.storeIdentifier.externalIdentifier"
                }
            }
        },
        "espot-CatalogGroup.facet.attribute.attributeDescription.userData": {
            "properties": {
                "userDataField": {
                    "items": {
                        "$ref": "#/definitions/espot-CatalogGroup.facet.attribute.attributeDescription.userData.userDataField"
                    },
                    "type": "array"
                }
            }
        },
        "espot-CatalogGroup.attachmentReference.attachmentAsset.storeIdentifier.externalIdentifier": {
            "properties": {
                "ownerID": {
                    "type": "string"
                },
                "nameIdentifier": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.catalog.facade.datatypes.AssociationType.catalogEntryReference.catalogEntryIdentifier.externalIdentifier.storeIdentifier": {
            "properties": {
                "uniqueID": {
                    "type": "string"
                },
                "externalIdentifier": {
                    "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.AssociationType.catalogEntryReference.catalogEntryIdentifier.externalIdentifier.storeIdentifier.externalIdentifier"
                }
            }
        },
        "espot-CatalogEntryDescription": {
            "properties": {
                "keyword": {
                    "type": "string"
                },
                "language": {
                    "type": "string"
                },
                "fullImage": {
                    "type": "string"
                },
                "longDescription": {
                    "type": "string"
                },
                "attributes": {
                    "items": {
                        "$ref": "#/definitions/java.util.Map$Entry"
                    },
                    "type": "array"
                },
                "productName": {
                    "type": "string"
                },
                "shortDescription": {
                    "type": "string"
                },
                "thumbnail": {
                    "type": "string"
                }
            }
        },
        "espot-MarketingContent.MarketingContentDescription.userDataField": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogGroup.facet": {
            "required": [
                "attribute",
                "facetIdentifier"
            ],
            "properties": {
                "attribute": {
                    "$ref": "#/definitions/espot-CatalogGroup.facet.attribute"
                },
                "facetIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.facet.facetIdentifier"
                }
            }
        },
        "espot-CatalogGroup.sEOURL.siteMapInfo": {
            "properties": {
                "priority": {
                    "type": "number",
                    "format": "double"
                },
                "userData": {
                    "$ref": "#/definitions/espot-CatalogGroup.sEOURL.siteMapInfo.userData"
                },
                "mobilePriority": {
                    "type": "number",
                    "format": "double"
                },
                "changeFrequency": {
                    "type": "string"
                },
                "mobileChangeFrequency": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogGroup.attachmentReference.attachmentAsset": {
            "required": [
                "attachmentAssetPath"
            ],
            "properties": {
                "mimeType": {
                    "type": "string"
                },
                "attachmentAssetIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.attachmentReference.attachmentAsset.attachmentAssetIdentifier"
                },
                "rootDirectory": {
                    "type": "string"
                },
                "language": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "directoryPath": {
                    "type": "string"
                },
                "storeIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.attachmentReference.attachmentAsset.storeIdentifier"
                },
                "localAsset": {
                    "type": "boolean"
                },
                "userData": {
                    "$ref": "#/definitions/espot-CatalogGroup.attachmentReference.attachmentAsset.userData"
                },
                "attachmentAssetPath": {
                    "type": "string"
                }
            }
        },
        "espot-CatalogEntryAttributes": {
            "required": [
                "stringValue"
            ],
            "properties": {
                "searchable": {
                    "type": "string"
                },
                "attributeIdentifier": {
                    "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.AttributeIdentifierType"
                },
                "attributeType": {
                    "type": "string"
                },
                "extendedValue": {
                    "items": {
                        "$ref": "#/definitions/java.util.Map$Entry"
                    },
                    "type": "array"
                },
                "description": {
                    "type": "string"
                },
                "displayable": {
                    "type": "string"
                },
                "groupPath": {
                    "type": "string"
                },
                "allowedValue": {
                    "items": {
                        "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.AttributeAllowedValueType"
                    },
                    "type": "array"
                },
                "usage": {
                    "type": "string"
                },
                "userDataField": {
                    "items": {
                        "$ref": "#/definitions/espot-CatalogEntryAttributes.userDataField"
                    },
                    "type": "array"
                },
                "comparable": {
                    "type": "string"
                },
                "attributeValue": {
                    "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.AttributeValueType"
                },
                "floatValue": {
                    "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.FloatValueType"
                },
                "stringValue": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "language": {
                    "type": "string"
                },
                "displaySequence": {
                    "type": "string",
                    "format": "double"
                },
                "value": {
                    "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.ValueType"
                },
                "attributeDataType": {
                    "type": "string"
                },
                "values": {
                    "items": {
                        "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.AttributeAllowedValueType"
                    },
                    "type": "array"
                },
                "parentAttributeGroup": {
                    "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.AttributeGroupIdentifierType"
                },
                "extendedData": {
                    "items": {
                        "$ref": "#/definitions/java.util.Map$Entry"
                    },
                    "type": "array"
                },
                "integerValue": {
                    "$ref": "#/definitions/com.ibm.commerce.catalog.facade.datatypes.IntegerValueType"
                }
            }
        },
        "espot-CatalogGroup.association.catalogEntryReference": {
            "properties": {
                "catalogEntryIdentifier": {
                    "$ref": "#/definitions/espot-CatalogGroup.association.catalogEntryReference.catalogEntryIdentifier"
                },
                "displayName": {
                    "type": "string"
                },
                "catalogEntryTypeCode": {
                    "type": "string"
                },
                "navigationPath": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.AttributeGroupIdentifierType.externalIdentifier.attributeDictionaryIdentifier.externalIdentifier.storeIdentifier": {
            "properties": {
                "uniqueID": {
                    "type": "string"
                },
                "externalIdentifier": {
                    "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.AttributeGroupIdentifierType.externalIdentifier.attributeDictionaryIdentifier.externalIdentifier.storeIdentifier.externalIdentifier"
                }
            }
        },
        "espot-CatalogGroup.taxonomyAttribute.attribute.externalIdentifier.attributeDictionaryIdentifier.externalIdentifier.storeIdentifier.externalIdentifier": {
            "properties": {
                "ownerID": {
                    "type": "string"
                },
                "nameIdentifier": {
                    "type": "string"
                }
            }
        },
        "espot-StandardPrice": {
            "properties": {
                "standardPriceContractID": {
                    "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.ContractIdentifierType"
                },
                "standardPriceStartDate": {
                    "type": "string"
                },
                "standardPricePrecedence": {
                    "type": "string",
                    "format": "double"
                },
                "standardPriceQualifier": {
                    "type": "string"
                },
                "standardUnitPrice": {
                    "$ref": "#/definitions/espot-StandardUnitPrice"
                },
                "standardPriceMaxQuantity": {
                    "type": "string",
                    "format": "double"
                },
                "standardPriceEndDate": {
                    "type": "string"
                },
                "userDataField": {
                    "items": {
                        "$ref": "#/definitions/espot-StandardPrice.userDataField"
                    },
                    "type": "array"
                },
                "standardPriceLastUpdate": {
                    "type": "string"
                },
                "standardPriceDescription": {
                    "$ref": "#/definitions/com.ibm.commerce.foundation.common.datatypes.DescriptionType"
                },
                "standardPriceQuantityUnit": {
                    "type": "string"
                },
                "standardPriceMinQuantity": {
                    "type": "string",
                    "format": "double"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.OfferPriceType.price.alternativeCurrencyPrice": {
            "properties": {
                "currency": {
                    "type": "string"
                },
                "value": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.SEOPropertiesType.parentStoreIdentifier.externalIdentifier": {
            "properties": {
                "ownerID": {
                    "type": "string"
                },
                "nameIdentifier": {
                    "type": "string"
                }
            }
        },
        "espot-ContractPrice.userDataField": {
            "required": [
                "key"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                }
            }
        },
        "com.ibm.commerce.foundation.common.datatypes.SEOPropertiesType.userData.userDataField": {
            "required": [
                "key"
            ],
[...]
