{
    "host": "hostname.com",
    "basePath": "/rest/admin/v2",
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "version": "2.0",
        "title": "quantity-units"
    },
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/quantity-units": {
            "get": {
                "tags": [
                    "quantity-units"
                ],
                "description": "Get a collection of Quantity Units.",
                "operationId": "getQuantityUnits",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The Qunatity Unit ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "field1",
                        "in": "query",
                        "description": "A customizable field.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of records to return.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A collection of Quantity Units, such as kilogram, meter, liter, pound, foot, quart etc.",
                        "schema": {
                            "$ref": "#/definitions/QuantityUnitCollection"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "quantity-units"
                ],
                "description": "Create a Quantity Unit.",
                "operationId": "createQuantityUnit",
                "parameters": [
                    {
                        "in": "body",
                        "name": "QuantityUnit",
                        "description": "A Quantity Unit.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/QuantityUnit"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            }
        },
        "/quantity-units/{id}": {
            "get": {
                "tags": [
                    "quantity-units"
                ],
                "description": "Get a Quantity Unit.",
                "operationId": "getQuantityUnitById",
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A Quantity Unit.",
                        "schema": {
                            "$ref": "#/definitions/QuantityUnit"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "quantity-units"
                ],
                "description": "Delete a Quantity Unit.",
                "operationId": "deleteQuantityUnitById",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "quantity-units"
                ],
                "description": "Update a Quantity Unit.",
                "operationId": "updateQuantityUnitById",
                "parameters": [
                    {
                        "in": "body",
                        "name": "QuantityUnit",
                        "description": "A Quantity Unit.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/QuantityUnit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "The Qunatity Unit ID.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/quantity-units/{id}/descriptions": {
            "get": {
                "tags": [
                    "quantity-units"
                ],
                "description": "",
                "operationId": "getDescriptionsOfQuantityUnit",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of records to return.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A collection of Quantity Unit descriptions.",
                        "schema": {
                            "$ref": "#/definitions/QuantityUnitDescriptionCollection"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "The Qunatity Unit ID.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/quantity-units/{id}/conversions-to": {
            "get": {
                "tags": [
                    "quantity-units"
                ],
                "description": "",
                "operationId": "getConversionsToOfQuantityUnit",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of records to return.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A quantity unit conversion descriptions.",
                        "schema": {
                            "$ref": "#/definitions/QuantityUnitConversionCollection"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "The Qunatity Unit ID.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/quantity-units/{id}/conversions-from": {
            "get": {
                "tags": [
                    "quantity-units"
                ],
                "description": "",
                "operationId": "getConversionsFromOfQuantityUnit",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of records to return.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A quantity unit conversion descriptions.",
                        "schema": {
                            "$ref": "#/definitions/QuantityUnitConversionCollection"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "The Qunatity Unit ID.",
                    "required": true,
                    "type": "string"
                }
            ]
        }
    },
    "definitions": {
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The error message code."
                },
                "message": {
                    "type": "string",
                    "description": "The error message."
                },
                "messageKey": {
                    "type": "string",
                    "description": "The error message key."
                },
                "messageArguments": {
                    "type": "array",
                    "description": "The arguments used to construct the error message.",
                    "items": {
                        "type": "object"
                    }
                },
                "correlationId": {
                    "type": "string",
                    "description": "The unique identifier for the request."
                },
                "locale": {
                    "type": "string",
                    "description": "The locale of the error message."
                }
            },
            "description": "The error message item model."
        },
        "ErrorResponseContainer": {
            "type": "object",
            "properties": {
                "requestId": {
                    "type": "string",
                    "description": "The request identifier."
                },
                "errors": {
                    "type": "array",
                    "description": "The errors.",
                    "items": {
                        "$ref": "#/definitions/Error"
                    }
                }
            },
            "description": "The error message model."
        },
        "QuantityUnit": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "The Qunatity Unit ID."
                },
                "field1": {
                    "type": "string",
                    "description": "A customizable field."
                }
            },
            "description": "A Quantity Unit."
        },
        "QuantityUnitCollection": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The total number of items."
                },
                "items": {
                    "type": "array",
                    "description": "The items.",
                    "items": {
                        "$ref": "#/definitions/QuantityUnit"
                    }
                }
            },
            "description": "A collection of Quantity Units, such as kilogram, meter, liter, pound, foot, quart etc."
        },
        "QuantityUnitDescription": {
            "type": "object",
            "properties": {
                "quantityUnitId": {
                    "type": "string",
                    "description": "The Quantity Unit ID."
                },
                "languageId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The language of the description. For a list of integer language identifiers, please refer to the Knowledge Center."
                },
                "description": {
                    "type": "string",
                    "description": "The Quantity Unit description in the language."
                }
            },
            "description": "A Quantity Unit description."
        },
        "QuantityUnitDescriptionCollection": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The total number of items."
                },
                "items": {
                    "type": "array",
                    "description": "The items.",
                    "items": {
                        "$ref": "#/definitions/QuantityUnitDescription"
                    }
                }
            },
            "description": "A collection of Quantity Unit descriptions."
        },
        "QuantityUnitConversion": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The quantity Unit ConversionId ID."
                },
                "conversionFactor": {
                    "type": "number",
                    "description": "The conversion factor. Implicit conversion rules are derived from explicit rules by combining conversion factors."
                },
                "multiplyOrDivide": {
                    "type": "string",
                    "description": "A single Character that is used to to convert from QTYUNIT_ID_FROM to QTYUNIT_ID_TO by either Multiplying OR Dividing, Modes  M = multiply by FACTOR  And D = divide by FACTOR. Conversion from QTYUNIT_ID_TO to QTYUNIT_ID_FROM using the inverse operation is implicitly defined."
                },
                "updatable": {
                    "type": "string",
                    "description": "A single Character that acts as a flag intended to be used by a user interface that manages QuantityUnit conversion rules, MODES N = the conversion factor is irrevocable, It should never be changed. Y = the conversion factor can be changed."
                },
                "toQuantityUnit": {
                    "type": "string",
                    "description": "A String to specify the QuantityUnit converted to."
                },
                "fromQuantityUnit": {
                    "type": "string",
                    "description": "A String to specify the QuantityUnit converted from."
                }
            },
            "description": "Each row of this table represents a rule. It can be used to convert a quantity amount from one QuantityUnit (unit of measurement) to another QuantityUnit."
        },
        "QuantityUnitConversionCollection": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The total number of items."
                },
                "items": {
                    "type": "array",
                    "description": "The items.",
                    "items": {
                        "$ref": "#/definitions/QuantityUnitConversion"
                    }
                }
            },
            "description": "A quantity unit conversion descriptions."
        }
    }
}