{
  "host": "hostname.com",
  "basePath": "/rest/admin/v2",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "shipping-jurisdiction-calculation-rules"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/shipping-jurisdiction-calculation-rules": {
      "get": {
        "tags": [
          "shipping-jurisdiction-calculation-rules"
        ],
        "description": "Get a collection of shipping jurisdiction calculation rule.",
        "operationId": "getShippingJurisdictionCalculationRules",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The shipping jurisdiction calculation rule ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "precedence",
            "in": "query",
            "description": "When a shipping address falls within more than one of the specified ShippingJurisdictionGroups, for the same FulfillmentCenter and ShippingMode, only the CalculationRule with the highest SHPJCRULE.PRECEDENCE value qualifies.",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "calculationRuleId",
            "in": "query",
            "description": "The calculation rule ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "jurisdictionGroupId",
            "in": "query",
            "description": "The jurisdiction group ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fulfillmentCenterId",
            "in": "query",
            "description": "The fulfillment center ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "shippingModeId",
            "in": "query",
            "description": "The shipping mode ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of shipping jurisdiction calculation rule.",
            "schema": {
              "$ref": "#/definitions/ShippingJurisdictionCalculationRuleCollection"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "post": {
        "tags": [
          "shipping-jurisdiction-calculation-rules"
        ],
        "description": "Create a shipping jurisdiction calculation rule.",
        "operationId": "createShippingJurisdictionCalculationRule",
        "parameters": [
          {
            "in": "body",
            "name": "ShippingJurisdictionCalculationRule",
            "description": "A Shipping jurisdiction calculation rule.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShippingJurisdictionCalculationRule"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      }
    },
    "/shipping-jurisdiction-calculation-rules/{id}": {
      "get": {
        "tags": [
          "shipping-jurisdiction-calculation-rules"
        ],
        "description": "Get a shipping jurisdiction calculation rule.",
        "operationId": "getShippingJurisdictionCalculationRuleById",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A Shipping jurisdiction calculation rule.",
            "schema": {
              "$ref": "#/definitions/ShippingJurisdictionCalculationRule"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "shipping-jurisdiction-calculation-rules"
        ],
        "description": "Delete a shipping jurisdiction calculation rule.",
        "operationId": "deleteShippingJurisdictionCalculationRuleById",
        "parameters": [],
        "responses": {
          "204": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "shipping-jurisdiction-calculation-rules"
        ],
        "description": "Update a shipping jurisdiction calculation rule.",
        "operationId": "updateShippingJurisdictionCalculationRuleById",
        "parameters": [
          {
            "in": "body",
            "name": "ShippingJurisdictionCalculationRule",
            "description": "A Shipping jurisdiction calculation rule.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShippingJurisdictionCalculationRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The shipping jurisdiction calculation rule ID.",
          "required": true,
          "type": "integer",
          "format": "int32"
        }
      ]
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error message code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "messageKey": {
          "type": "string",
          "description": "The error message key."
        },
        "messageArguments": {
          "type": "array",
          "description": "The arguments used to construct the error message.",
          "items": {
            "type": "object"
          }
        },
        "correlationId": {
          "type": "string",
          "description": "The unique identifier for the request."
        },
        "locale": {
          "type": "string",
          "description": "The locale of the error message."
        }
      },
      "description": "The error message item model."
    },
    "ErrorResponseContainer": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The request identifier."
        },
        "errors": {
          "type": "array",
          "description": "The errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "description": "The error message model."
    },
    "ShippingJurisdictionCalculationRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The shipping jurisdiction calculation rule ID."
        },
        "precedence": {
          "type": "number",
          "format": "double",
          "description": "When a shipping address falls within more than one of the specified ShippingJurisdictionGroups, for the same FulfillmentCenter and ShippingMode, only the CalculationRule with the highest SHPJCRULE.PRECEDENCE value qualifies."
        },
        "calculationRuleId": {
          "type": "integer",
          "format": "int32",
          "description": "The calculation rule ID."
        },
        "jurisdictionGroupId": {
          "type": "integer",
          "format": "int32",
          "description": "The jurisdiction group ID."
        },
        "fulfillmentCenterId": {
          "type": "integer",
          "format": "int32",
          "description": "The fulfillment center ID."
        },
        "shippingModeId": {
          "type": "integer",
          "format": "int32",
          "description": "The shipping mode ID."
        }
      },
      "description": "A Shipping jurisdiction calculation rule."
    },
    "ShippingJurisdictionCalculationRuleCollection": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of items."
        },
        "items": {
          "type": "array",
          "description": "The items.",
          "items": {
            "$ref": "#/definitions/ShippingJurisdictionCalculationRule"
          }
        }
      },
      "description": "A collection of shipping jurisdiction calculation rule."
    }
  }
}