{
  "host": "hostname.com",
  "basePath": "/rest/admin/v2",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "transports"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/transports": {
      "get": {
        "tags": [
          "transports"
        ],
        "description": "Get a collection of Store transports.",
        "operationId": "getTransports",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The transport ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "code",
            "in": "query",
            "description": "The code of the transport.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the transport.",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "The description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "The timeout.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "implemented",
            "in": "query",
            "description": "If it is implemented.",
            "required": false,
            "type": "string"
          },
          {
            "name": "addressable",
            "in": "query",
            "description": "If it is addressable.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of Store transports.",
            "schema": {
              "$ref": "#/definitions/TransportCollection"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "post": {
        "tags": [
          "transports"
        ],
        "description": "Create an Store transport.",
        "operationId": "createTransport",
        "parameters": [
          {
            "in": "body",
            "name": "Transport",
            "description": "A store transport.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Transport"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      }
    },
    "/transports/{id}": {
      "get": {
        "tags": [
          "transports"
        ],
        "description": "Get an Store transport.",
        "operationId": "getTransportById",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A store transport.",
            "schema": {
              "$ref": "#/definitions/Transport"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "transports"
        ],
        "description": "Delete an Store transport.",
        "operationId": "deleteTransportById",
        "parameters": [],
        "responses": {
          "204": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "transports"
        ],
        "description": "Update an Store transport.",
        "operationId": "updateTransportById",
        "parameters": [
          {
            "in": "body",
            "name": "Transport",
            "description": "A store transport.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Transport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The transport ID.",
          "required": true,
          "type": "integer",
          "format": "int32"
        }
      ]
    },
    "/transports/{id}/connection-spec-meta-info": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique numeric ID for identifying the transport.",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful.",
            "schema": {
              "$ref": "#/definitions/ConnectionSpecMetaInfo"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        },
        "tags": [
          "transports"
        ],
        "operationId": "getConnectionSpecMetaInfo",
        "summary": "Gets the connection specification meta-information for the specified transport."
      }
    },
    "/transports/{id}/interaction-spec-meta-info": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique numeric ID for identifying the transport.",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful.",
            "schema": {
              "$ref": "#/definitions/InteractionSpecMetaInfo"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        },
        "tags": [
          "transports"
        ],
        "operationId": "getInteractionSpecMetaInfo",
        "summary": "Gets the interaction specification meta-information for the specified transport."
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error message code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "messageKey": {
          "type": "string",
          "description": "The error message key."
        },
        "messageArguments": {
          "type": "array",
          "description": "The arguments used to construct the error message.",
          "items": {
            "type": "object"
          }
        },
        "correlationId": {
          "type": "string",
          "description": "The unique identifier for the request."
        },
        "locale": {
          "type": "string",
          "description": "The locale of the error message."
        }
      },
      "description": "The error message item model."
    },
    "ErrorResponseContainer": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The request identifier."
        },
        "errors": {
          "type": "array",
          "description": "The errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "description": "The error message model."
    },
    "Transport": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The transport ID."
        },
        "code": {
          "type": "string",
          "description": "The code of the transport."
        },
        "name": {
          "type": "string",
          "description": "The name of the transport."
        },
        "description": {
          "type": "string",
          "description": "The description."
        },
        "timeout": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout."
        },
        "implemented": {
          "type": "string",
          "description": "If it is implemented."
        },
        "addressable": {
          "type": "string",
          "description": "If it is addressable."
        }
      },
      "description": "A store transport."
    },
    "TransportCollection": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of items."
        },
        "items": {
          "type": "array",
          "description": "The items.",
          "items": {
            "$ref": "#/definitions/Transport"
          }
        }
      },
      "description": "A collection of Store transports."
    },
    "ConnectionSpecProperty": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the connection specification property."
        },
        "encrypt": {
          "type": "boolean",
          "description": "Indicates that the property value is encrypted."
        },
        "value": {
          "type": "string",
          "description": "The default value of the connection specification property."
        }
      },
      "description": "A connection specification property."
    },
    "ConnectionSpecMetaInfo": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "description": "The connection specification properties.",
          "items": {
            "$ref": "#/definitions/ConnectionSpecProperty"
          }
        }
      },
      "description": "The transport connection specification meta-information."
    },
    "InteractionSpecProperty": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the interaction specification property."
        },
        "encrypt": {
          "type": "boolean",
          "description": "Indicates that the property value is encrypted."
        },
        "value": {
          "type": "string",
          "description": "The default value of the interaction specification property."
        }
      },
      "description": "An interaction specification property."
    },
    "InteractionSpecMetaInfo": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "description": "The interaction specification properties.",
          "items": {
            "$ref": "#/definitions/InteractionSpecProperty"
          }
        }
      },
      "description": "The transport connection specification meta-information."
    }
  }
}