{
  "host": "hostname.com",
  "basePath": "/rest/admin/v2",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "currency-descriptions"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/currency-descriptions": {
      "get": {
        "tags": [
          "currency-descriptions"
        ],
        "description": "Get a collection of currency descriptions.",
        "operationId": "getCurrencyDescriptions",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "This is a currency code as per ISO 4217 standards. Foreign key that references column SETCCURR in the SETCURR table.",
            "required": false,
            "type": "string"
          },
          {
            "name": "languageId",
            "in": "query",
            "description": "Language ID of the Language. Foreign key that references the LANGUAGE_ID column in the Language table. For a list of language components, see the LANGUAGE table.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "description",
            "in": "query",
            "description": "The text description of the currency in the language identified by LANGUAGE_ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of currency descriptions.",
            "schema": {
              "$ref": "#/definitions/CurrencyDescriptionCollection"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "post": {
        "tags": [
          "currency-descriptions"
        ],
        "description": "Create a currency description.",
        "operationId": "createCurrencyDescription",
        "parameters": [
          {
            "in": "body",
            "name": "CurrencyDescription",
            "description": "Text descriptions for each of the currency.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrencyDescription"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      }
    },
    "/currency-descriptions/code:{code},languageId:{languageId}": {
      "get": {
        "tags": [
          "currency-descriptions"
        ],
        "description": "Get a currency description.",
        "operationId": "getCurrencyDescriptionById",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Text descriptions for each of the currency.",
            "schema": {
              "$ref": "#/definitions/CurrencyDescription"
            }
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "currency-descriptions"
        ],
        "description": "Delete a currency description.",
        "operationId": "deleteCurrencyDescriptionById",
        "parameters": [],
        "responses": {
          "204": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "currency-descriptions"
        ],
        "description": "Update a currency description.",
        "operationId": "updateCurrencyDescriptionById",
        "parameters": [
          {
            "in": "body",
            "name": "CurrencyDescription",
            "description": "Text descriptions for each of the currency.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrencyDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "400": {
            "description": "There was a client error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "There was a server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContainer"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "code",
          "in": "path",
          "description": "This is a currency code as per ISO 4217 standards. Foreign key that references column SETCCURR in the SETCURR table.",
          "required": true,
          "type": "string"
        },
        {
          "name": "languageId",
          "in": "path",
          "description": "Language ID of the Language. Foreign key that references the LANGUAGE_ID column in the Language table. For a list of language components, see the LANGUAGE table.",
          "required": true,
          "type": "integer",
          "format": "int32"
        }
      ]
    }
  },
  "definitions": {
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the link."
        }
      },
      "description": "Links to related resources."
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error message code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "messageKey": {
          "type": "string",
          "description": "The error message key."
        },
        "messageArguments": {
          "type": "array",
          "description": "The arguments used to construct the error message.",
          "items": {
            "type": "object"
          }
        },
        "correlationId": {
          "type": "string",
          "description": "The unique identifier for the request."
        },
        "locale": {
          "type": "string",
          "description": "The locale of the error message."
        }
      },
      "description": "The error message item model."
    },
    "ErrorResponseContainer": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The request identifier."
        },
        "errors": {
          "type": "array",
          "description": "The errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "description": "The error message model."
    },
    "CurrencyDescription": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "This is a currency code as per ISO 4217 standards. Foreign key that references column SETCCURR in the SETCURR table."
        },
        "languageId": {
          "type": "integer",
          "format": "int32",
          "description": "Language ID of the Language. Foreign key that references the LANGUAGE_ID column in the Language table. For a list of language components, see the LANGUAGE table."
        },
        "description": {
          "type": "string",
          "description": "The text description of the currency in the language identified by LANGUAGE_ID."
        }
      },
      "description": "Text descriptions for each of the currency."
    },
    "CurrencyDescriptionCollection": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of items."
        },
        "items": {
          "type": "array",
          "description": "The items.",
          "items": {
            "$ref": "#/definitions/CurrencyDescription"
          }
        }
      },
      "description": "A collection of currency descriptions."
    }
  }
}