{
    "host": "hostname.com",
    "basePath": "/rest/admin/v2",
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "version": "2.0",
        "title": "jurisdictions"
    },
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/jurisdictions": {
            "get": {
                "tags": [
                    "jurisdictions"
                ],
                "description": "Get a collection of jurisdictions.",
                "operationId": "getJurisdictions",
                "parameters": [
                    {
                        "name": "searchString",
                        "description": "Limits search results to only include jurisdictions that match the value of this parameter. Searches are case-insensitive.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The unique ID for the jurisdiction.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "A code which, together with its storeId and subclass, uniquely identifies this jurisdiction.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "storeId",
                        "in": "query",
                        "description": "The reference number of the store this jurisdiction associated with.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "subclass",
                        "in": "query",
                        "description": "Indicates the jurisdiction types as follows: 1 = ShippingJurisdiction. 2 = TaxJurisdiction.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "A brief description of the jurisdiction, suitable for display by a user interface that manages jurisdiction definitions.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "The country or region.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "countryAbbreviation",
                        "in": "query",
                        "description": "An optional ISO standard abbreviation code for the country or region.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "The state, province, or other equivalent region.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "stateAbbreviation",
                        "in": "query",
                        "description": "An optional country specific abbreviation code for the state or province.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "The city or an equivalent.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "district",
                        "in": "query",
                        "description": "The district or an equivalent.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "county",
                        "in": "query",
                        "description": "The county or an equivalent.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "zipcodeStart",
                        "in": "query",
                        "description": "The starting ZIP code or postal code of a range of ZIP codes or postal codes.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "zipcodeEnd",
                        "in": "query",
                        "description": "The ending ZIP code or postal code of a range of ZIP codes or postal codes.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "geoCode",
                        "in": "query",
                        "description": "A tax code that is based on geographic region. This code is used to support Taxware integration.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "markForDelete",
                        "in": "query",
                        "description": "Indicates if this jurisdiction has been marked for deletion: 0 = No. 1 = Yes.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The position within the resulting dataset where the query begins returning item records. If the offset is \"5\", the records that returned begin with the sixth record that matches the query parameters. If the offset is \"0\", the records that are returned begin with the first record that matches the query parameters.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of records to return.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A collection of jurisdictions.",
                        "schema": {
                            "$ref": "#/definitions/JurisdictionCollection"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "jurisdictions"
                ],
                "description": "Create a jurisdiction.",
                "operationId": "createJurisdiction",
                "parameters": [
                    {
                        "in": "body",
                        "name": "Jurisdiction",
                        "description": "Provides RESTful services to manage jurisdictions. Jurisdictions are geographical regions or zones that represent a country, region, province, territory, or ZIP code range in which you sell goods.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Jurisdiction"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            }
        },
        "/jurisdictions/{id}": {
            "get": {
                "tags": [
                    "jurisdictions"
                ],
                "description": "Get a jurisdiction.",
                "operationId": "getJurisdictionById",
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated set of properties to be returned. If no properties are specified, all properties are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "The comma-separated set of related resources referenced in the links to be returned. If no related resources are specified, no related resources are returned.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma-separated set of properties which controls the order of the items being listed, prefixed by either (-) to sort by descending order, or optionally (+) to sort by ascending order. For example, sort=name,-d which means, order the items based on the name value in ascending order, then by the id value in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Provides RESTful services to manage jurisdictions. Jurisdictions are geographical regions or zones that represent a country, region, province, territory, or ZIP code range in which you sell goods.",
                        "schema": {
                            "$ref": "#/definitions/Jurisdiction"
                        }
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "jurisdictions"
                ],
                "description": "Delete a jurisdiction.",
                "operationId": "deleteJurisdictionById",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "jurisdictions"
                ],
                "description": "Update a jurisdiction.",
                "operationId": "updateJurisdictionById",
                "parameters": [
                    {
                        "in": "body",
                        "name": "Jurisdiction",
                        "description": "Provides RESTful services to manage jurisdictions. Jurisdictions are geographical regions or zones that represent a country, region, province, territory, or ZIP code range in which you sell goods.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Jurisdiction"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The operation was successful."
                    },
                    "400": {
                        "description": "There was a client error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    },
                    "404": {
                        "description": "The resource was not found."
                    },
                    "500": {
                        "description": "There was a server error.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponseContainer"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "The unique ID for the jurisdiction.",
                    "required": true,
                    "type": "integer",
                    "format": "int32"
                }
            ]
        }
    },
    "definitions": {
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The error message code."
                },
                "message": {
                    "type": "string",
                    "description": "The error message."
                },
                "messageKey": {
                    "type": "string",
                    "description": "The error message key."
                },
                "messageArguments": {
                    "type": "array",
                    "description": "The arguments used to construct the error message.",
                    "items": {
                        "type": "object"
                    }
                },
                "correlationId": {
                    "type": "string",
                    "description": "The unique identifier for the request."
                },
                "locale": {
                    "type": "string",
                    "description": "The locale of the error message."
                }
            },
            "description": "The error message item model."
        },
        "ErrorResponseContainer": {
            "type": "object",
            "properties": {
                "requestId": {
                    "type": "string",
                    "description": "The request identifier."
                },
                "errors": {
                    "type": "array",
                    "description": "The errors.",
                    "items": {
                        "$ref": "#/definitions/Error"
                    }
                }
            },
            "description": "The error message model."
        },
        "Jurisdiction": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The unique ID for the jurisdiction."
                },
                "code": {
                    "type": "string",
                    "description": "A code which, together with its storeId and subclass, uniquely identifies this jurisdiction."
                },
                "storeId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The reference number of the store this jurisdiction associated with."
                },
                "subclass": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Indicates the jurisdiction types as follows: 1 = ShippingJurisdiction. 2 = TaxJurisdiction."
                },
                "description": {
                    "type": "string",
                    "description": "A brief description of the jurisdiction, suitable for display by a user interface that manages jurisdiction definitions."
                },
                "country": {
                    "type": "string",
                    "description": "The country or region."
                },
                "countryAbbreviation": {
                    "type": "string",
                    "description": "An optional ISO standard abbreviation code for the country or region."
                },
                "state": {
                    "type": "string",
                    "description": "The state, province, or other equivalent region."
                },
                "stateAbbreviation": {
                    "type": "string",
                    "description": "An optional country specific abbreviation code for the state or province."
                },
                "city": {
                    "type": "string",
                    "description": "The city or an equivalent."
                },
                "district": {
                    "type": "string",
                    "description": "The district or an equivalent."
                },
                "county": {
                    "type": "string",
                    "description": "The county or an equivalent."
                },
                "zipcodeStart": {
                    "type": "string",
                    "description": "The starting ZIP code or postal code of a range of ZIP codes or postal codes."
                },
                "zipcodeEnd": {
                    "type": "string",
                    "description": "The ending ZIP code or postal code of a range of ZIP codes or postal codes."
                },
                "geoCode": {
                    "type": "string",
                    "description": "A tax code that is based on geographic region. This code is used to support Taxware integration."
                },
                "markForDelete": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Indicates if this jurisdiction has been marked for deletion: 0 = No. 1 = Yes."
                }
            },
            "description": "Provides RESTful services to manage jurisdictions. Jurisdictions are geographical regions or zones that represent a country, region, province, territory, or ZIP code range in which you sell goods."
        },
        "JurisdictionCollection": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The total number of items."
                },
                "items": {
                    "type": "array",
                    "description": "The items.",
                    "items": {
                        "$ref": "#/definitions/Jurisdiction"
                    }
                }
            },
            "description": "A collection of jurisdictions."
        }
    }
}